@import url('https://fonts.googleapis.com/css2? família = Roboto: ital, peso @ 0,100; 0,300; 0,400; 0,500; 0,700; 0,900; 1,100; 1,300; 1,400; 1.500; 1.700; 1.900 & display = swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /* border: black solid; */
}

/* BORDERS */


.top-border-review{

    width: 9%;
    height: 0.6vh;
    background-color: white;
    position: absolute;
    top: 8%;
    left: 5.5%;

}

.left-border-review{

    width: 9%;
    height: 0.6vh;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    top:15%;
    left:1.3%;
    
}


.bottom-border-review{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    position: absolute;
    bottom: 7%;
    left: 86%;

}

.right-border-review{

    width: 9%;
    height: 0.6vh;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    bottom:13.8%;
    left: 90.5% ;
}


/*-----*/


.atributos-title{

    font-weight: bolder;
    font-size:2.5vw;
    padding: 7% 0 4% 11%;
}

.review-box{

    width: 50%;
    height: 100%;
    position: relative;

}

.review-img-box{

    width: 100%;
    height: 100%;
}

.review-img{

    width: 100%;
    height: 100%;

}


.jogabiliadade-conteiner{

    width: 100%;
    height: 100%;
    padding: 10%;
    background-color:#2ad300;
    position:absolute;
    top: 0;
    opacity: 0%;
    transform:translateY(5%);
    transition: 0.5s;
}

.jogabiliadade-conteiner:hover{

    opacity: 85%;
    transform: translateY(0%);

}

.jogabilidade-title{

    padding: 0 0 10% 0;
    font-size: 1.9vw;
    font-weight: bolder;
}

.leia-btn-reviw{

    padding:0.5% 2%;
    margin-top: 20%;
    background: transparent;
    border: solid white 0.2em;
    color: white;

}

.leia-btn:hover{

    background-color:white ;
    color:black;
    
}

.atributos-box{


    width: 100%;
    height: 54vh;
    display:flex;
    flex-direction: row;

}

.imgs-atributo{

    width: 50%;
    
}

.imgs-up{

    width: 100%;
    height: 50%;
    display:flex;
    
}
.storm{

    width: 100%;
    height: 100%;
    position: relative;

}
.storm-box{

    width: 100%;
    height: 100%;

}

.storm-img{

    width: 100%;
    height: 100%;

}

.storm-conteiner{

    width: 100%;
    height: 100%;
    position: absolute;
    padding: 4% 2% 0 9%;
    top: 0;
    left: 0;
    background-color: #ae00ff;
    opacity: 0;
    transform:translateY(5%);
    transition: 0.5s;
}

.storm-conteiner:hover{

    opacity: 85%;
    transform: translateY(0%);
}


.top-border-storm{

    width: 9%;
    height: 0.4vh;
    background-color: white;
    position: absolute;
    top: 5%;
    left: 4%;

}

.left-border-storm{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    top:11.5%;
    left:0%;
    
}

.bottom-border-storm{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    position: absolute;
    bottom: 7%;
    bottom: 4%;
    left: 86%;

}

.right-border-storm{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    bottom:11%;
    left: 90.5% ;
}

.leia-btn{

    margin-top: 3%;
    padding:1% 2%;
    font-size: 0.8vw;
    background: transparent;
    color: white;
    border: solid white 0.2vw;
    
}

.novos-title{

    width: 30%;
    font-size: 1.3vw;
    font-weight: 900;
}

.novo-p{
    padding: 3% 0 2% 0;
    font-size: 0.9vw;
}

    /* -----------------------------------------STARGAME-----------------------------------------------*/

.stargame{
    
    width:100%;
    height: 100%;
    position: relative;

}

.stargame-box{

    width: 100%;
    height: 100%;

}

.stargame-img{

    width: 100%;
    height: 100%;

}

.stargame-conteiner{

    width: 100%;
    height: 100%;
    position: absolute;
    padding: 4% 2% 0 9%;
    top: 0;
    left: 0;
    background-color: #ff0000;
    opacity: 0;
    transform:translateY(5%);
    transition: 0.5s;

}

.stargame-conteiner:hover{

    opacity: 75%;
    transform: translateY(0%);

}

.top-border-star{

    width: 9%;
    height: 0.4vh;
    background-color: white;
    position: absolute;
    top: 5%;
    left: 4%;

}

.left-border-star{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    top:11.5%;
    left:0%;
    
}

.bottom-border-star{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    position: absolute;
    bottom: 7%;
    bottom: 4%;
    left: 86%;

}

.right-border-star{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    bottom:11%;
    left: 90.5% ;
}

.leia-btn-storm{

    margin-top: 5%;
    padding:1% 2%;
    background: transparent;
    color: white;
    border: solid white 0.2vw;
    
}

.star-title{

    font-size: 1.5vw;
    font-weight: 900;
    padding: 3% 0 3% 0 ;
}

.star-p{

    font-size: 0.9vw;
    padding: 0% 0% 3% 0;
}
    /* -------------------------------------------------------------------------------------------------------- */

.imgs-dawn{

    width: 100%;
    height: 50%;
    display: flex;

}

/* ---------------------------------------------NAVE------------------------------------------------------------ */

.nave{

    width:100%;
    height: 100%;
    position: relative;

}

.nave-box{

    width: 100%;
    height: 100%;

}

.nave-img{

    width: 100%;
    height: 100%;
      
}

.nave-conteiner{

    width: 100%;
    height: 100%;
    position: absolute;
    padding: 4% 2% 0 9%;
    top: 0;
    left: 0;
    background-color: #bdba00;
    opacity: 0;
    transform: translateY(5%);
    transition: 0.5s;

}


.nave-conteiner:hover{

    opacity: 85%;
    transform: translateY(0%);


}

.top-border-nave{

    width: 9%;
    height: 0.4vh;
    background-color: white;
    position: absolute;
    top: 5%;
    left: 4%;

}


.left-border-nave{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    top:11.5%;
    left:0%;
    
}


.bottom-border-nave{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    position: absolute;
    bottom: 7%;
    bottom: 4%;
    left: 86%;

}

.right-border-nave{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    bottom:11%;
    left: 90.5% ;
}

.leia-btn{

    margin-top: 5%;
    padding:1% 2%;
    background: transparent;
    color: white;
    border: solid white 0.2vw;
    
}

.nave-title{

    font-size: 1.5vw;
    font-weight: 900;
    padding: 3% 0 3% 0 ;
}

.nave-p{

    font-size: 0.9vw;
    padding: 0% 0% 3% 0;
}

/* ----------------------------------------------STORMTRUP------------------------------------------------------------ */

.stormtrup{

    width:100%;
    height: 100%;
    position: relative;

}


.stormtrup-box{

    width: 100%;
    height: 100%;

}

.stormtrup-img{

    width: 100%;
    height: 100%;
      
}

.stormtrup-conteiner{

    width: 100%;
    height: 100%;
    position: absolute;
    padding: 4% 2% 0 9%;
    top: 0;
    left: 0;
    background-color: #0013bd;
    opacity: 0;
    transform: translateY(5%);
    transition: 0.5s;

}

.stormtrup-conteiner:hover{

    opacity: 75%;
    transform: translateY(0%);

}

.top-border-stormtrup{

    width: 9%;
    height: 0.4vh;
    background-color: white;
    position: absolute;
    top: 5%;
    left: 4%;

}


.left-border-stormtrup{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    top:11.5%;
    left:0%;
    
}

.bottom-border-stormtrup{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    position: absolute;
    bottom: 7%;
    bottom: 4%;
    left: 86%;

}

.right-border-stormtrup{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    bottom:11%;
    left: 90.5% ;
}

.leia-btn{

    margin-top: 5%;
    padding:1% 2%;
    background: transparent;
    color: white;
    border: solid white 0.2vw;
    
}

.stormtrup-title{

    font-size: 1.5vw;
    font-weight: 900;
    padding: 3% 0 3% 0;

}

.stormtrup-p{

    font-size: 0.9vw;
    padding: 0% 0% 3% 0;
    
}

/* ----------------------------------------------------HIERARQUIA---------------------------------------------------- */

.hierarquia{

    width: 100%;
    height: 100%;

}

.hierarquia-box{

    margin-top: 5%;
    width: 100%;
    height: 100%;
    

}

.hierarquia-img{

    width: 100%;
    height: 100%;
    
}

.hierarquia-conteiner{

    width: 100%;
    height: 50%;
    text-align: end;
    font-size: 1.1vw;
    display: flex;
    justify-content: end;
    padding-top: 2% 0 0 0;

}

.hierarquia-p{

    width: 65%;

}

/* ------------------------------------COMO JOGAR------------------------------------------------ */

.como-jogar{

    width: 100%;
    height: 100%;
    position: relative;
    
}

.como-conteiner{

    width: 100%;
    height: 100%;
    padding: 10% 0% 10% 8%; 
    color: white; 
    background-color: #202020;  
    text-align:center;

}   

.como-title{

    font-weight: 900;
    font-size: 2.5vw;

}

.como-box{

    width: 28%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 7%;

}

.como-img{

    width: 100%;
    height: 98%;
    
    
}

.opcoes-conteiner{
    
    width:60%;
    padding: 1% 0% 0% 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    left:35%;


}

.opcoes-number{

    width: 100%;
    height: 100%;
    padding: 10% 0;
    font-size: 2.5vw;
    font-weight: 900;
    text-align:center;

}

.opcoes-btn{

    width: 100%;
    height: 100%;
    padding: 5% 0;
    font-size: 1.5vw;
    background-color: black;
    color: white;
    border:none;

}

.opcoes-p{

    width: 100%;
    height: 100%;
    text-align: center;
    padding:15% 0% 12% 0;
    font-size:1.1vw;
    font-weight: 100;
    

}


.opcoes-rod{
/* ROD = BARRA */

    width: 30%;
    height: 0.5vh;
    margin: 0 0 10% 35%;
    background-color: black;
    

}

.download{

    width: 26%;
    height: 100%;
   

}

.escolher{

    width: 26%;
    height: 100%;

}

.explorar{

    width: 26%;
    height: 100%;
}

/* -----------------------------------------FOOTER---------------------------------------- */

.aplicativo{

    width: 100%;
    height: 100%;
    display: flex;
}

.aplicativo-conteiner{

    width: 65%;
    height: 100%;
    background-color:#F95956;
    color: white;
    font-size: 1.1vw;
    margin-top: 8%;
    position: relative;
    
}

.aplicativo-content{

    width: 55%;
    margin:7% 15% 2% 23%;

}

.aplicativo-title{

    font-size: 2.5vw;
    font-weight: bolder;
    padding: 6% 0;
    
}

.aplicativo-p{

    width: 85%;
    margin:0 0 5% 0;

}

.aplicativo-box{

    width: 90%;
    height: 100%;
    border-bottom:solid #D74430;
    display: flex;
    justify-content: space-between;

}

.aplicativo-img{

    width:50%;
    height: 100%;
    padding: 4% 3% 7% 0;

}

.store-img{

    width:47%;
    height: 100%;
    padding: 4% 0% 7% 0;

}

.aplicativo-logo{

    width: 40%;
    padding: 8% 0;

}

.darth{

    width: 40%;
    position: absolute;
    left: 55%;
    
}

.darth-img{

    width: 100%;
    height:100%;
    
}
