@import url('https://fonts.googleapis.com/css2? família = Roboto: ital, peso @ 0,100; 0,300; 0,400; 0,500; 0,700; 0,900; 1,100; 1,300; 1,400; 1.500; 1.700; 1.900 & display = swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    /* border: black solid; */
}

/* ------------------------------------STARWARS------------------------------------------- */
.starwars-conteiner{

    width: 100%;
    background-image: url("img-starwars/star-fundo-imgs/star\ uó\ topo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
     
}


.starlogo-conteiner{

    width: 100%;
    position: absolute;
    top: 46%;
    /* background-color: blueviolet; */

}

.star-img{

    width: 24%;
    height: 12%; 
    /* border: white solid; */
    position: relative;
    left: 19%;
    /* background-color: lightgreen; */
}

.wars-img{

    width: 25%;
    height: 12%; 
    /* border: white solid; */
    position: relative;
    left: 41.5%;

}

.kylo-conteiner{

    width: 100%;
    height: 88vh;
    display: flex;
    align-items: center;
    animation: 3s forwards slide;
    transform: translateX(-50px);

}

.kylo-img{

    width: 70%;
    position: absolute;
    top: 2%;
    left: 10.5%;
    z-index: 1;
    
}

@keyframes slide {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
    
}

/* ---------------------------------------------LEGIAO CAIXA----------------------------------- */

.legiao-conteiner{

    width: 10%;
    height: 25%;
    margin:0%;
    font-size:1.5vw;
    position: absolute;
    top: 65%;
    left: 80%;
    overflow: hidden;
}

.box-legiao{

    padding: 0 0 14% 0;
    border-bottom: #2e2e2e solid;

}

.legiao{

    font-weight: 900;  
    

}


.legiao-btn{

    height: 2%;
    padding-top: 14%;

}

.legiao-line{

    height: 2%;
    width: 2%;
    font-size: 0.9vw;
   
}

.left-btn, .right-btn{

    width: 10%;
    font-size: 0.9vw;
    font-weight:bolder;
    background-color:#A9BDC1;
    border: none;
    
}


/* --------------------------------------COMECE A JOGAR----------------------------------------------------- */


.jogar-conteiner{

    width: 94%;
    height: 100%;
    /* background-color: blue; */
    background-image: url("img-starwars/star-fundo-imgs/star-uo-robot.png");
    background-repeat: no-repeat;
    background-size: 45% 100%;
    
}

.comece-conteiner{

    width: 23%;
    height: 65%;
    background-image: url("img-starwars/battlefront-2-imgs/strom-trupe-red.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    position: absolute;
    top:78.5%;
    left:15%;
    z-index: 2;
}

.jogar-box{

    width: 100%;
    height: 100%;
    font-size: 3vw;
    padding-top: 23%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.comece-title{

    width: 100%;
    font-weight: bolder;
    font-size: 3.3vw;
    text-align: center;
    margin: 0.5% 0;

}

.baixe-conteiner{

    width: 100%;
    height: 20%;
    font-size: 1.1vw;
    font-weight: normal;
    text-align: left;
    display: flex;
    align-items: center;
    margin-top: 15%;
    padding: 7%;
    
}

.baixe-p{

    width: 100%;
    text-align: left;

}

.span-p{

    width: 0%;
    height: 100%;
    
}

.test-p{

    font-size: 0.5vw;
    display: flex;
    padding: 15% 2%;

}


.dowload-conteiner{

    width: 100%;
    height: 21%;
    padding: 10% 0 8% 0;
    display: flex;
    justify-content: center;
    
    
}

.download-btn{

    width: 50%;
    height: 100%;
    border-radius: 2%;
    background: transparent;
    border: solid 0.2em white;
    font-size: 1vw;
    font-weight: bolder;
    position: relative;
    color: white;
    z-index: 1;
    
}

.download-btn a{

    text-decoration: none;
    color: white;

}

.download-btn::before{

    content:'';
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #d60f0f;
    z-index:-1;
    transition: all .5s ease;
    
    
}

.download-btn:hover::before{

    width: 100%;
    color: black;

}

/* -----------------------------------SOBRE------------------------------------------------- */

.sobre-conteiner{

    width: 88%;
    height: 100%;
    padding-top: 17.5%;
    margin-left: 12.6%;
    display: flex;
    justify-content: flex-end;

}

.battlfont-conteiner{

    width: 35%;
    height: 100%;
    padding-right:1% ;
    text-align: right;
    font-size: 1.2vw;

}

.sobre-title{

    width: 43%;
    padding: 0% 0 2% 0%;
    margin-left: 57% ;
    font-size: 1.5vw;
    font-weight: 700;
    border-bottom: black solid 0.2vw;

}

.star-wars-p{

    width: 100%;
    font-size: 1.2vw;
    padding: 6% 0 0 0;
 
} 

.battlefont-box{

    width: 27%;
    height: 80%;
    
}

.battlefont-img{

    width: 100%;
    
}


.line-border{

    width: 85%;
    height:0.3vw;
    margin: 2% 0 0 15.7%;
    background-color: gray;
    
}

/* ----------------------ESTRUTURA----------------------------- */

.estrutura-conteiner{

    width:100%;
    margin:1% 0 0 2.2%;
    /* border: solid black; */
    display: flex;
    /* background-color: brown; */
}

.sifh-box{

    width:50%;
    height: 80%;
    margin-top:2% ;
    position: relative;

}

.sifh-img{

    width: 100%;
    position:absolute;
    left: 12vw;
    
    
}

.rey-box{

    width: 24%;
    height: 80%;
    margin-top: 5%;
    position: relative;
    
}

.rey-img{

    width: 100%;
    margin:5% 1% 0 0%;
    position: absolute;
    top:0;
    left: 0;
    
}


.jornada-conteiner{

    width: 40%;
    height: 100%;
    margin:6.5% 0;
    
    
}

.estrutura-title{

    width: 100%;
    height: 30%;
    /* border: black solid 2px; */
    font-size: 2vw;
    text-align: right;
    font-weight: 900;

}

.jogo-p{

    font-weight: bolder;
}

.jogo-conteiner{

    width: 100%;
    height: 0%;
    padding-left: 30%;
    
}

.ul-jogo{
    
    font-size:1.5vw;
    text-align: right;
    display: flex;
    justify-content: right;
    flex-direction: column;
    list-style: none;
    /* border: red solid; */

}

.ul-jogo li{

    width: 100%;
    margin-top: 3%;
    padding: 1% 1.5%;
    /* border: black solid 2px; */
    position: relative;
    z-index: 4;
}

.ul-jogo li:hover{
    
    background-color: tomato;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.541);
    color: white;
    
}


.jogo-line{

    font-weight: bolder;
}

/* -------------------------------------------ATRIBUTO------------------------------------------------ */

.atributos-conteiner{

    width: 100%;
    height: 100%;
    background-color: #202020;
    color: white;
    padding:0% 6% 2% 6%;

}

/* BORDERS */


.top-border-review{

    width: 9%;
    height: 0.6vh;
    background-color: white;
    position: absolute;
    top: 8%;
    left: 5.5%;

}

.left-border-review{

    width: 9%;
    height: 0.6vh;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    top:15%;
    left:1.3%;
    
}


.bottom-border-review{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    position: absolute;
    bottom: 7%;
    left: 86%;

}

.right-border-review{

    width: 9%;
    height: 0.6vh;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    bottom:13.8%;
    left: 90.5% ;
}


/*-----*/


.atributos-title{

    font-weight: bolder;
    font-size:2.5vw;
    padding: 7% 0 4% 11%;
}

.review-box{

    width: 50%;
    height: 100%;
    position: relative;

}

.review-img-box{

    width: 100%;
    height: 100%;
}

.review-img{

    width: 100%;
    height: 100%;

}


.jogabiliadade-conteiner{

    width: 100%;
    height: 100%;
    padding: 10%;
    background-color:#2ad300;
    position:absolute;
    top: 0;
    opacity: 0%;
    transform:translateY(6%);
    transition: 0.5s;
}

.jogabiliadade-conteiner:hover{

    opacity: 85%;
    transform: translateY(0%);

}

.jogabilidade-title{

    padding: 0 0 10% 0;
    font-size: 1.9vw;
    font-weight: bolder;
}

.leia-btn-reviw{

    padding:0.5% 2%;
    margin-top: 20%;
    background: transparent;
    border: solid white 0.2em;
    color: white;

}

.leia-btn:hover{

    background-color:white ;
    color:black;
    
}

.atributos-box{


    width: 100%;
    height: 54vh;
    display:flex;
    /* flex-direction: ro; */

}

.imgs-atributo{

    width: 50%;
    
}

.imgs-up{

    width: 100%;
    height: 50%;
    display:flex;
    flex-direction: row;
    
}


.storm{

    width: 100%;
    height: 100%;
    position: relative;

}
.storm-box{

    width: 100%;
    height: 100%;

}

.storm-img{

    width: 100%;
    height: 100%;

}

.storm-conteiner{

    width: 100%;
    height: 100%;
    position: absolute;
    padding: 8% 2% 0 9%;
    top: 0;
    left: 0;
    background-color: #ae00ff;
    opacity: 0;
    transform:translateY(7%);
    transition: 0.5s;
}

.storm-conteiner:hover{

    opacity: 85%;
    transform: translateY(0%);
}


.top-border-storm{

    width: 9%;
    height: 0.4vh;
    background-color: white;
    position: absolute;
    top: 5%;
    left: 5%;

}

.left-border-storm{

    width: 10%;
    height: 0.5vh;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    top:11.5%;
    left:0%;
    
}

.bottom-border-storm{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    position: absolute;
    bottom: 7%;
    bottom: 4%;
    left: 86%;

}

.right-border-storm{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    bottom:11%;
    left: 90.5% ;
}

.leia-btn{

    margin-top: 3%;
    padding:1% 2%;
    font-size: 0.8vw;
    background: transparent;
    color: white;
    border: solid white 0.2vw;
    
}

.novos-title{

    width: 30%;
    font-size: 1.3vw;
    font-weight: bolder;
    
}

.novo-p{
    padding: 3% 0 2% 0;
    font-size: 0.9vw;
}

    /* -----------------------------------------STARGAME-----------------------------------------------*/

.stargame{
    
    width:100%;
    height: 100%;
    position: relative;

}

.stargame-box{

    width: 100%;
    height: 100%;

}

.stargame-img{

    width: 100%;
    height: 100%;

}

.stargame-conteiner{

    width: 100%;
    height: 100%;
    position: absolute;
    padding: 4% 2% 0 9%;
    top: 0;
    left: 0;
    background-color: #ff0000;
    opacity: 0;
    transform:translateY(8%);
    transition: 0.5s;

}

.stargame-conteiner:hover{

    opacity: 75%;
    transform: translateY(0%);

}

.top-border-star{

    width: 9%;
    height: 0.4vh;
    background-color: white;
    position: absolute;
    top: 5%;
    left: 4%;

}

.left-border-star{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    top:11.5%;
    left:0%;
    
}

.bottom-border-star{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    position: absolute;
    bottom: 7%;
    bottom: 4%;
    left: 86%;

}

.right-border-star{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    bottom:11%;
    left: 90.5% ;
}

.leia-btn-storm{

    margin-top: 5%;
    padding:1% 2%;
    background: transparent;
    color: white;
    border: solid white 0.2vw;
    
}

.star-title{

    font-size: 1.5vw;
    font-weight: 900;
    padding: 3% 0 3% 0 ;
}

.star-p{

    width: 80%;
    font-size: 0.9vw;
    padding: 0% 0% 3% 0;
}
    /* -------------------------------------------------------------------------------------------------------- */

.imgs-dawn{

    width: 100%;
    height: 50%;
    display: flex;

}

/* ---------------------------------------------NAVE------------------------------------------------------------ */

.nave{

    width:100%;
    height: 100%;
    position: relative;

}

.nave-box{

    width: 100%;
    height: 100%;

}

.nave-img{

    width: 100%;
    height: 100%;
      
}

.nave-conteiner{

    width: 100%;
    height: 100%;
    position: absolute;
    padding: 4% 2% 0 9%;
    top: 0;
    left: 0;
    background-color: #bdba00;
    opacity: 0;
    transform: translateY(8%);
    transition: 0.5s;

}


.nave-conteiner:hover{

    opacity: 85%;
    transform: translateY(0%);


}

.top-border-nave{

    width: 9%;
    height: 0.4vh;
    background-color: white;
    position: absolute;
    top: 5%;
    left: 4%;

}


.left-border-nave{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    top:11.5%;
    left:0%;
    
}


.bottom-border-nave{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    position: absolute;
    bottom: 7%;
    bottom: 4%;
    left: 86%;

}

.right-border-nave{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    bottom:11%;
    left: 90.5% ;
}

.leia-btn{

    margin-top: 5%;
    padding:1% 2%;
    background: transparent;
    color: white;
    border: solid white 0.2vw;
    
}

.nave-title{

    font-size: 1.5vw;
    font-weight: 900;
    padding: 3% 0 3% 0 ;
}

.nave-p{

    font-size: 0.9vw;
    padding: 0% 0% 3% 0;
}

/* ----------------------------------------------STORMTRUP------------------------------------------------------------ */

.stormtrup{

    width:100%;
    height: 100%;
    position: relative;

}


.stormtrup-box{

    width: 100%;
    height: 100%;

}

.stormtrup-img{

    width: 100%;
    height: 100%;
      
}

.stormtrup-conteiner{

    width: 100%;
    height: 100%;
    position: absolute;
    padding: 4% 2% 0 9%;
    top: 0;
    left: 0;
    background-color: #0013bd;
    opacity: 0;
    transform: translateY(8%);
    transition: 0.5s;

}

.stormtrup-conteiner:hover{

    opacity: 75%;
    transform: translateY(0%);

}

.top-border-stormtrup{

    width: 9%;
    height: 0.4vh;
    background-color: white;
    position: absolute;
    top: 5%;
    left: 4%;

}


.left-border-stormtrup{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    top:11.5%;
    left:0%;
    
}

.bottom-border-stormtrup{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    position: absolute;
    bottom: 7%;
    bottom: 4%;
    left: 86%;

}

.right-border-stormtrup{

    width: 9%;
    height: 0.5vh;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    bottom:11%;
    left: 90.5% ;
}

.leia-btn{

    margin-top: 5%;
    padding:1% 2%;
    background: transparent;
    color: white;
    border: solid white 0.2vw;
    
}

.stormtrup-title{

    font-size: 1.5vw;
    font-weight: 900;
    padding: 3% 0 3% 0;

}

.stormtrup-p{

    font-size: 0.9vw;
    padding: 0% 0% 3% 0;
    
}

/* ----------------------------------------------------HIERARQUIA---------------------------------------------------- */

.hierarquia{

    width: 100%;
    height: 100%;

}

.hierarquia-box{

    margin-top: 5%;
    width: 100%;
    height: 100%;
    

}

.hierarquia-img{

    width: 100%;
    height: 100%;
    
}

.hierarquia-conteiner{

    width: 100%;
    height: 50%;
    text-align: end;
    font-size: 1.1vw;
    display: flex;
    justify-content: end;
    padding-top: 2% 0 0 0;

}

.hierarquia-p{

    width: 65%;

}

/* ------------------------------------COMO JOGAR------------------------------------------------ */

.como-jogar{

    width: 100%;
    height: 100%;
    position: relative;
    
}

.como-conteiner{

    width: 100%;
    height: 100%;
    padding: 10% 0% 10% 8%; 
    color: white; 
    background-color: #202020;  
    text-align:center;

}   

.como-title{

    font-weight: 900;
    font-size: 2.5vw;

}

.como-box{

    width: 28%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 7%;

}

.como-img{

    width: 100%;
    height: 98%;
    
    
}

.opcoes-conteiner{
    
    width:60%;
    padding: 1% 0% 0% 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    left:35%;


}

.opcoes-number{

    width: 100%;
    height: 100%;
    padding: 10% 0;
    font-size: 2.5vw;
    font-weight: 900;
    text-align:center;

}

.opcoes-btn{

    width: 100%;
    height: 100%;
    padding: 5% 0;
    font-size: 1.5vw;
    background-color: black;
    color: white;
    border:none;

}

.opcoes-p{

    width: 100%;
    height: 100%;
    text-align: center;
    padding:15% 0% 12% 0;
    font-size:1.1vw;
    font-weight: 100;
    

}


.opcoes-rod{
/* ROD = BARRA */

    width: 30%;
    height: 0.5vh;
    margin: 0 0 10% 35%;
    background-color: black;
    

}

.download{

    width: 26%;
    height: 100%;
   

}

.escolher{

    width: 26%;
    height: 100%;

}

.explorar{

    width: 26%;
    height: 100%;
}

/* -----------------------------------------FOOTER---------------------------------------- */

.aplicativo{

    width: 100%;
    height: 100%;
    display: flex;
}

.aplicativo-conteiner{

    width: 65%;
    height: 100%;
    background-color:#F95956;
    color: white;
    font-size: 1.1vw;
    margin-top: 8%;
    position: relative;
    
}

.aplicativo-content{

    width: 55%;
    margin:7% 15% 2% 23%;

}

.aplicativo-title{

    font-size: 2.5vw;
    font-weight: bolder;
    padding: 6% 0;
    
}

.aplicativo-p{

    width: 85%;
    margin:0 0 5% 0;

}

.aplicativo-box{

    width: 90%;
    height: 100%;
    border-bottom:solid #D74430;
    display: flex;
    justify-content: space-between;

}

.aplicativo-img{

    width:50%;
    height: 100%;
    padding: 4% 3% 7% 0;

}

.store-img{

    width:47%;
    height: 100%;
    padding: 4% 0% 7% 0;

}

.aplicativo-logo{

    width: 40%;
    padding: 8% 0;

}

.darth{

    width: 40%;
    position: absolute;
    left: 55%;
    
}

.darth-img{

    width: 100%;
    height:100%;
    
}

@media (max-width:500px){

    .starwars-conteiner{
    
        width: 100%;
        height: 47vh;

    }

    .starlogo-conteiner{

        width: 100%;
        position: absolute;
        top: 19.2%;
    }

    .legiao-conteiner{
        

        font-size: 1.5vw;
        position: absolute;
        top: 27%;
        left: 80%;

    }

    .legiao-btn{

        font-size: 1.5vw;
    }

    .legiao-line{
        font-size: 1.5vw;
    }

    .left-btn, .right-btn{

        width: 20%;
        height:10%;
        font-size: 0.9vw;
    }

    .jogar-conteiner{

        width: 100%;
        height: 100%;
        background-size: 70% 100vh;
    }

    .comece-conteiner{

        width: 55%;
        height: 100%;
        position: relative;
        top: 6vh;
        left: 30%;
    }

    .comece-title{

        width: 100%;
        font-size:7vw ;
    }

    .baixe-conteiner{

        width: 100%;
        height: 100%;
        padding-left: 10%;
        font-size: 3vw;
    }

    .download-btn{


        width: 50%;
        height: 100%;
        font-size: 3.1vw;
    }

    .test-p{

        width: 50%;
        height: 5vh;
        font-size: 2.5vw;
        padding: 0;
        margin-left:25% ;
        display: flex;
        justify-content: center;
        align-items: flex-start;

    }

    .sobre-conteiner{

        width: 90%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column-reverse;
        
    }

    .battlfont-conteiner{

        width: 85%;
        margin-left: 1.5%;
        
    }

    .battlefont-box{

        width: 61.5%;
        height: 85%;
        position: relative;
        display: flex;
        align-items: flex-start;
        top:0%;
        left:25%;
        background-color: crimson;
        
    }

    .battlefont-img{

        width: 100%;
        height: 100%;
    
    }

    .sobre-title{

        width: 37%;
        margin:5% 0 0 64%;
        font-size: 3.5vw;
        font-weight: bolder
        
    }

    .star-wars-p{

        font-size: 3vw;

    }

    .line-border{

        width: 85%;
        margin-left: 8%;
        height:0.5vw;
    }

    .sifh-img{
        position: absolute;
        left: 10%;
    }

    .jornada-conteiner{

        width: 30%;
        margin: 10% 0;
        position: relative;
        right: 10%;

    }

    .rey-box{

        position: relative;
        right: 8vw;
        
    }

    .rey-img{
       
        position: absolute;
        right: 5%;

    }

    .atributos-box{

        width: 100%;
        height: 100%;
        display:flex;
        flex-direction: column;
        
    }

    .imgs-atributo{

        width: 100%;
        display:flex;
        flex-direction:column;
    }

    .imgs-up{

        width: 100%;

        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    .imgs-dawn{

        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    } 

    .review-box{
        width: 100%;
    }

    .como-box{

        width:90%;
        position: absolute;
        left: 0;
    }

    .como-img{

        width: 100%;
        height: 100vh;
        transform: translateX(-38vw);
        
    }

    .opcoes-conteiner{

        width: 40%;
        display:flex;
        flex-direction: column;
        padding-left: 30%;
    }

    .opcoes-number{

        width: 100%;
        height: 100%;
        font-size: 6vw;
        font-weight: 900;
        text-align:center;
    
    }

    .opcoes-btn{

        width: 20vw;
        height: 100%;
        font-size: 3vw;

    }

    .opcoes-p{

        width: 50vw;
        height: 100%;
        font-size: 3vw;
        
    }

    .aplicativo{

        display: flex;
        flex-direction: column;
    }

    .aplicativo-p{

        margin-bottom: 5% ;

    }

    
    .aplicativo-conteiner{

        width:100%;
        height: 100vw;
        font-size: 3vw;
        padding:0% 2%;
    }

    .aplicativo-content{

        display: flex;
        flex-direction: column;
    }

    .aplicativo-title{
        width: 100%;
        font-size:6.5vw;
    }

    .darth{

        width: 100%;
        height:90vh;
        width: 70%;
        position: relative;
        bottom: 1%;
        left: 5%;
        /* background-color: darkcyan; */
        
    }

    .darth-img{

        width: 100%;
        position:absolute;
        bottom: 3%;
        width: 100%;
        
    }
}